<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete book</title>
</head>
<body>
<fieldset style="width: fit-content; height: fit-content">
<legend><h1 th:text="#{deleteBook}" style="color: red"></h1></legend>
<h2 th:text="#{sure}"></h2>
<p>
    <button><a href="/books" th:text="#{bookList}"></a></button>
</p>
<form th:action="@{/delete-book}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{name}"></td>
            <td th:text="${book.name}"></td>
        </tr>
        <tr>
            <td th:text="#{dop}"></td>
            <td th:text="${book.dateOfPurchase}"></td>
        </tr>
        <tr>
            <td th:text="#{author}"></td>
            <td th:text="${book.author}"></td>
        </tr>
        <tr>
            <td th:text="#{price}"></td>
            <td th:text="${book.price}"></td>
        </tr>
        <tr>
            <td th:text="#{category}"></td>
            <td th:text="${book.getCategory().getName()}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{deleteBook}" style="color: blue"></td>
        </tr>
    </table>
</form>
</fieldset>
</body>
</html>