<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset style="width: fit-content; height: fit-content">
<legend><h1 th:text="#{detailBook}" style="color: red"></h1></legend>
<p>
    <a href="/books" th:text="#{bookList}"></a>
</p>
<form th:object="${book}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{name}"></td>
            <td><input type="text" th:field="*{name}" disabled/></td>
        </tr>
        <tr>
            <td th:text="#{dop}"></td>
            <td><input type="text" th:field="*{dateOfPurchase}" disabled/></td>
        </tr>
        <tr>
            <td th:text="#{author}"></td>
            <td><input type="text" th:field="*{author}" disabled/></td>
        </tr>
        <tr>
            <td th:text="#{price}"></td>
            <td><input type="text" th:field="*{price}" disabled/></td>
        </tr>
        <tr>
            <td th:text="#{category}"></td>
            <td th:text="${book.getCategory().getName()}" style="color: blue"></td>
        </tr>
    </table>
</form>
</fieldset>
</body>
</html>