<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<style>
    button {
        text-align: center;

    }
    table {
        margin: auto;
        border: 2px solid black;
        margin-left: 30px;
    }
    tr {
        border: 2px solid black;
        margin: auto;
        padding: 15px;
    }
    td {
        margin: auto;
        border: 2px solid black;
        text-align: center;
        padding: 15px;
        font-weight: bolder;
    }
    th {
        color: chocolate;
    }
    form{
        margin-top: 15px;
    }

    #so {
        margin-left: 43px
    }
</style>
<body>
<fieldset style="width: fit-content; height: fit-content">
<legend><h1 style="color:#ff4e06"><a th:text="#{book}"></a></h1></legend>
<form onchange="this.submit()">
    <select name="lang">
        <option value="" >__Language__</option>
        <option value="en" >English</option>
        <option value="vi" >VietNam</option>
    </select>
</form>
<p th:text="${param.lang}"></p><br>
<button><a href="/create-book" th:text="#{createBook}"></a></button>

<p th:if="${issrch}">
    <a href="/books" th:text="#{back}"></a>
</p>
<!--<p th:if="${searchCategory}">-->
<!--    <a href="/books">Back book list:</a>-->
<!--</p>-->
<!--<form>-->
<!--    <a th:text="#{searchName}"></a>-->
<!--    <input name="s" type="text"/>-->
<!--    <input type="submit" th:value="#{search}"/>-->
<!--</form>-->
<br>

<form action="/searchByCategory" onchange="this.submit()">
    <a th:text="#{searchCategory}" style="color: darkred"></a>
    <select name="searchCategory">
        <option value="-1">All</option>
        <option th:each="c:${categories}" th:text="${c.name}" th:value="${c.getId()}" th:selected="(${c.id} == ${searchCategory})"></option>
    </select>
</form>
<form action="/sortByPrice" onchange="this.submit()">
    <a th:text="#{sortPrice}" style="color: darkred"></a>
    <select id="so" name="sortDirection2">
        <option value="no" th:selected="(${sortDirection2} == 'no')">All</option>
        <option value="asc" th:selected="(${sortDirection2} == 'asc')">ASC</option>
        <option value="desc" th:selected="(${sortDirection2} == 'desc')">DESC</option>
    </select>
</form>
<br/>
<table border="1">
    <tr>
        <th th:text="#{name}"></th>
        <th th:text="#{dop}"></th>
        <th th:text="#{author}"></th>
        <th th:text="#{price}"></th>
        <th th:text="#{category}"></th>
        <th th:text="#{edit}"></th>
        <th th:text="#{delete}"></th>
        <th th:text="#{detail}"></th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.dateOfPurchase}">
            <td th:text="${book.author}">
            <td th:text="${book.price}">
            <td th:text="${book.getCategory().getName()}"></td>
            <td><a th:href="@{/edit-book/__${book.id}__ }" th:text="#{edit}"></a></td>
            <td><a th:href="@{/delete-book/__${book.id}__ }" th:text="#{delete}"></a></td>
            <td><a th:href="@{/detail-book/__${book.id}__ }" th:text="#{detail}"></a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/books'(page=${books.number - 1})}" th:if="${books.hasPrevious()}" th:text="#{pre}"></a>
        <span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>
        <a th:href="@{'/books'(page=${books.number + 1})}" th:if="${books.hasNext()}" th:text="#{next}"></a>
    </div>
</table>
</fieldset>
</body>
</html>